# Global settings

In [ ]:
import pandas as pd
import numpy as np

np.random.seed(42)

NB_COLUMN          = 5
NB_ROWS_PRIORITY   = 10
NB_ROWS_DATA       = 30

# Create the priority table

In [2]:
dic_priority = {}
for i in range(NB_COLUMN):
    dic_priority[f'Column_{i}'] = np.random.choice([0, 1], size=(NB_ROWS_PRIORITY,), p=[.5, .5])
dic_priority['Output'] = np.random.randint(99999, size=NB_ROWS_PRIORITY)

df_priority = pd.DataFrame(dic_priority)
df_priority.to_csv('data/priority.csv')

df_priority

   Column_0  Column_1  Column_2  Column_3  Column_4  Output
0         0         0         1         1         0   45758
1         1         1         0         0         0   72409
2         1         1         0         0         0   71211
3         1         0         0         1         1   65697
4         0         0         0         1         0   37065
5         0         0         1         1         1   92093
6         0         0         0         0         0   99299
7         1         1         1         0         1   32606
8         1         0         1         1         1   11534
9         1         0         0         0         0   94663

## Create the data to map with an output column

In [3]:
data_row_list = []
for _ in range(NB_ROWS_DATA):
    # Select a random row of priority
    i = np.random.randint(NB_ROWS_PRIORITY)
    row = df_priority.iloc[i]

    # Transform the rwo to remove the X
    for i in range(NB_COLUMN):
        if row[f'Column_{i}'] == 'X':
            row[f'Column_{i}'] = np.random.randint(2)

    # Set the the corresponding line in priority
    data_row_list.append(row)
df_data = pd.DataFrame(data_row_list, columns=df_priority.columns)
df_data.index.names = ['Expected priority correspondance']
df_data.rename({'Output': 'Expected Output'})
df_data.to_csv('data/data.csv')

df_data

,Column_0,Column_1,Column_2,Column_3,Column_4,Output
Expected priority correspondance,,,,,,
6,0,0,0,0,0,99299
8,1,0,1,1,1,11534
7,1,1,1,0,1,32606
4,0,0,0,1,0,37065
1,1,1,0,0,0,72409
4,0,0,0,1,0,37065
7,1,1,1,0,1,32606
9,1,0,0,0,0,94663
8,1,0,1,1,1,11534
8,1,0,1,1,1,11534
0,0,0,1,1,0,45758
8,1,0,1,1,1,11534
6,0,0,0,0,0,99299
8,1,0,1,1,1,11534
7,1,1,1,0,1,32606
0,0,0,1,1,0,45758
7,1,1,1,0,1,32606
7,1,1,1,0,1,32606
2,1,1,0,0,0,71211
0,0,0,1,1,0,45758
7,1,1,1,0,1,32606
2,1,1,0,0,0,71211
2,1,1,0,0,0,71211
0,0,0,1,1,0,45758
4,0,0,0,1,0,37065
9,1,0,0,0,0,94663
6,0,0,0,0,0,99299
9,1,0,0,0,0,94663
8,1,0,1,1,1,11534
6,0,0,0,0,0,99299

#