In [2]:
import pandas as pd
import numpy as np

np.random.seed(42)

NB_COLUMN          = 5
NB_ROWS_PRIORITY   = 10
NB_ROWS_DATA       = 30

In [3]:
dic_priority = {}
for i in range(NB_COLUMN):
    dic_priority[f'Column_{i}'] = np.random.choice([0, 1, 'X'], size=(NB_ROWS_PRIORITY,), p=[.4, .4, .2])
dic_priority['Output'] = np.random.randint(99999, size=NB_ROWS_PRIORITY)

df_priority = pd.DataFrame(dic_priority)
df_priority.to_csv('data/priority.csv')

df_priority

  Column_0 Column_1 Column_2 Column_3 Column_4  Output
0        0        0        1        1        0   45758
1        X        X        0        0        1   72409
2        1        X        0        0        0   71211
3        1        0        0        X        X   65697
4        0        0        1        X        0   37065
5        0        0        1        X        1   92093
6        0        0        0        0        0   99299
7        X        1        1        0        1   32606
8        1        1        1        1        1   11534
9        1        0        0        1        0   94663

In [4]:
data_row_list = []
for _ in range(NB_ROWS_DATA):
    # Select a random row of priority
    i = np.random.randint(NB_ROWS_PRIORITY)
    row = df_priority.iloc[i]

    # Transform the rwo to remove the X
    for i in range(NB_COLUMN):
        if row[f'Column_{i}'] == 'X':
            row[f'Column_{i}'] = np.random.randint(2)

    # Set the the corresponding line in priority
    data_row_list.append(row)
df_data = pd.DataFrame(data_row_list, columns=df_priority.columns)
df_data.index.names = ['Expected priority correspondance']
df_data.rename({'Output': 'Expected Output'})
df_data.to_csv('data/data.csv')

df_data

/var/folders/vq/f747631s0xbgk9xr9rg0cldr0000gn/T/ipykernel_24615/794013230.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  row[f'Column_{i}'] = np.random.randint(2)

,Column_0,Column_1,Column_2,Column_3,Column_4,Output
Expected priority correspondance,,,,,,
6,0,0,0,0,0,99299
8,1,1,1,1,1,11534
7,0,1,1,0,1,32606
1,0,0,0,0,1,72409
7,1,1,1,0,1,32606
8,1,1,1,1,1,11534
8,1,1,1,1,1,11534
0,0,0,1,1,0,45758
8,1,1,1,1,1,11534
6,0,0,0,0,0,99299
8,1,1,1,1,1,11534
7,0,1,1,0,1,32606
7,1,1,1,0,1,32606
2,1,0,0,0,0,71211
7,0,1,1,0,1,32606
2,1,0,0,0,0,71211
4,0,0,1,1,0,37065
6,0,0,0,0,0,99299
9,1,0,0,1,0,94663
8,1,1,1,1,1,11534
6,0,0,0,0,0,99299
8,1,1,1,1,1,11534
7,1,1,1,0,1,32606
1,0,1,0,0,1,72409
6,0,0,0,0,0,99299
6,0,0,0,0,0,99299
7,0,1,1,0,1,32606
2,1,1,0,0,0,71211
7,1,1,1,0,1,32606
2,1,0,0,0,0,71211